body {
	background-image: url(../img/bk.png);
}

h1, h2, h3, h4, h5 {
	font-family: 'Source Sans Pro', sans-serif;
	color: #5b3124;
}

.navbar {
	font: bold 120% 'Source Sans Pro', sans-serif;
}

.container {
	max-width: 1024px;
}

h3 {
	font-size: 22px;
}

.icon-large {
	position: relative;
	right: 10px;
}

i {
	margin-right: 9px;
}

footer {
	font-style: normal;
	font-weight: normal;
	padding-top: 40px;
	margin-top: 0;
	font-size: 11px;
	background: url(./img/footer_bk.png) repeat;
}

footer a {
	color: #2c160f;
}

.quote {
	background-image: url(../img/form_bk.png);
	margin-top: 80px;
	margin-bottom: 0;
	padding-top: 80px;
	padding-bottom: 80px;
	color: #fef9e5;
}

div.navbar.navbar-fixed-top {
	background-color: #fff;
	background-image: url(../img/form_bk.png);
}

ul.nav li  {
	background-color: transparent;
	margin-top: 20px;
}

.space {
	margin-top: 20px;
	margin-bottom: 20px;
} ul.nav li.active a ul.nav li.active a